<h2 id="products">Productos</h2>
<p id="lista"></p>
 
<h2>Agregar producto</h2>
<form  id="formAgregar">
    <input type="text" name="nombre" id="nombre" placeholder="Nombre">
    <button type="submit">Agregar producto</button>
</form>
<h2>Eliminar producto</h2>
<form id="formEliminar">
    <input type="number" name="id" id ="idPro" placeholder="ID para eliminar">
    <button type="submit">Eliminar producto</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
